<h1 class = "text-center mt-4">Listing all posts</h1>


<div class="flickr_pagination text-center">
    <%= will_paginate @posts, :container => false %>
</div>
<%= render "post" %>

<div class="flickr_pagination text-center mb-4">
    <%= will_paginate @posts, :container => false %>
</div>