@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: rgb(158, 150, 150) !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-brand:hover {
  background-color: lightgray !important;
}

.nav-item:hover {
  background-color: lightgray !important;
}

.nav-link {
  color: black !important;
}
.nav-link:hover {
  background-color: lightgray !important;
}
#navbarSupportedContent {
  color: white !important;
}
#home-container {
  margin-top: 20px;
}

.jumbotron {
  background-image: asset-url("home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 30rem;
}

html,
body {
  height: 100%;
  //   background: #62676d;
  //   background: linear-gradient(to right, #62676d, #343638);
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

/* Other Classes for Page Styling */

.sticky-footer {
  flex-shrink: none;
}
